@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 224 72% 56%;
    --background: 233 35% 19%;
    --secondary: 234 33% 22%;
    --accent: 235 22% 30%;
    --accent-foreground: 233 8% 80%;
    --destructive: 353 90% 64%;
    --ring: 232 24% 25%;
    --border: 232 24% 25%;
    --input: 232 24% 25%;
  }
  html {
    height: 100%;
  }
}
